{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}
{% block body %}
    <h3 class="h3">shopping</h3>
    <div class="row">
        {% for item in pagination %}
            <div class="col-md-3 col-sm-6">
                {{ include(partial) }}
            </div>
        {% endfor %}
        <div class="col-md-12">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}